* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    color: antiquewhite;
}

body {
    width: auto;
    height: 600px;
    background-image: url(./resources/dark_wall.png);
}

.main-header {
    display: block;
    margin: auto;
    height: 70px;
}

.main-header__list {
    display: flex;
    height: 70px;
    margin: auto;
    padding: 5px;
    list-style: none;
    justify-content: flex-end;
    font-size: 20px;
    
}

.main-header__list > li {
    height: 30px;
    margin: 20px;
}

.main-container {
    display: inline-block;
    width: 60%;
    background-color: #f58b54;
}